@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700 !important;
}

button {
  font-weight: 600 !important;
}

.header-text {
  font-weight: 600 !important;
  text-align: justify;
}

.car-card-details div p:first-child {
  color: darkgray;
  margin-bottom: 0;
}

.car-card-details div p:last-child {
  font-weight: 600;
}

.card {
  border-color: #f4f4f4;
}

.header-img-bg {
  background-image: linear-gradient(
      rgba(234, 60, 19, 0.3),
      rgba(234, 60, 19, 0.9)
    ),
    url("./assets/header_img.png");
  background-position: center;

  background-size: cover;
}

.active>.page-link, .page-link.active {
  background-color: #dc3545 !important;
  color: white !important;
  border-color: #dc3545 !important;
}